$screen-width: 640px;
$screen-height: 350px;
$screen-quantity: 3;
$menu-color: #33C8CA;
$menu-second-color: #FED101;
$menu-third-color: #e91e63;

@define-mixin dimensions $width: null, $height:$width {
    width: $width;
    height: $height;
}

@define-mixin reset {
    margin: 0;
    padding: 0;
}

@define-mixin flexalign $h_align: center, $v_align:center  {
    display: flex;
    justify-content: $h_align;
	align-items: $v_align;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
    @mixin dimensions 100%;
    font-family: 'Arvo', serif;
}

body {
    @mixin reset;
    @mixin flexalign;
    overflow: hidden;
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.5), rgba(0,0,0,.5) 1px, transparent 1px, transparent 100%);
	background-size: 40px 40px;
	min-width: $screen-width;
}

a,
a:hover,
a:visited {
	color: white;
	text-decoration: none;
	i {
		color: black;
	}
}

p {
    @mixin reset;
}
 ul {
     @util reset-list;
 }

 #canvas {
    width: $screen-width;
    height: $screen-height;
    background-image: linear-gradient(to bottom, #6145AF, #33C8CA, #FED101, #e91e63);
    background-size: calc(100% * $screen-quantity);
    background-position: top;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.2), 0 0 0 0 #ffffff inset;
    position: relative;
    overflow: hidden;
    border-radius: 14px;

    &.open-menu {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.2), 0 0 0 8px #ffffff inset;
    }
     section {
        width: calc($screen-width * $screen-quantity);
        height: $screen-height;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: stretch;

        flex-direction: row;
		transition: transform .3s cubic-bezier(0.73, 0.01, 0, 1.11);
        
        .screen {
            width: $screen-width;
            @util center;
            flex-direction: column;
            padding: 20px;
            
            ul {
				padding: 0;
				
				li {
				 padding: 0;
				}
			}

            .side {
				width: 40%;
				background: #ffffff;
				margin-right: 20px;
			}
			.content {
				color: #000000;
				width: 60%;
				background: #ffffff;
			}
        }
     }
 }

